@media (max-width: 1200px) {
    .mid__search-main {
        width: 440px;
    }

    .header-menu {
        display: none;
    }

    .banner__left h2 {
        font-size: 5.2rem;
        padding: 0;
    }

    .banner__left p {
        font-size: 1.85rem;
    }

    .banner__right img {
        width: 285px;
    }
}

@media (max-width: 992px) {
	html {
        font-size: 62%;
    }

    .header-center {
        border-bottom: var(--border-color);
    }

    .mid {
        grid-template-columns: 20% 80%;
    }

    .mid__search {
        display: none;
    }

    .banner__right img {
        width: 270px;
    }

    .banner__left h2 {
        font-size: 5rem;
    }

    .banner__left p {
        font-size: 1.72rem;
    }

    .content-category {
        padding-top: 100px;
    }

    .category__header-title {
        font-size: 3rem;
    }

    .category__header-text {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .mid {
        height: 80px;
    }

    html {
        font-size: 60%;
    }

    .header {
        display: none;
    }

    .banner {
        grid-template-columns: 100%;
    }

    .banner__left {
        padding: 55px 0;
    }

    .banner__left h2 {
        font-size: 4.5rem;
        text-align: center;
    }

    .banner__left p {
        font-size: 1.68rem;
        padding: 0 20px;
        text-align: center;
    }

    .banner__left-btn {
        justify-content: center;
    }

    .banner__left-btn button {
        padding: 12px 28px;
    }

    .banner__right {
        padding-bottom: 80px;
    }

    .content-category {
        padding-top: 80px;
    }

    .category__header-text {
        width: 100%;
        font-size: 1.58rem;
    }

    .category__header-title {
        font-size: 2.8rem;
    }
}

@media (max-width: 575.98px) {
    .mid {
        height: 78px;
    }

    .banner__left h2 {
        font-size: 4rem;
    }

    .banner__left p {
        font-size: 1.68rem;
    }

    .banner__right img {
        width: 220px;
    }

    .mid__right-tym, .mid__right-cart, .mid__right-menu {
        width: 40px;
        height: 40px;
    }

    .category__header-title {
        font-size: 2.62rem;
    }

    .category__header-text {
        font-size: 1.52rem;
    }
}

@media (max-width: 425px) {
	html {
        font-size: 58.8%;
    }

    .mid {
        height: 70px;
    }

    .banner__left {
        padding: 85px 0;
    }

    .banner__left h2 {
        font-size: 3.52rem;
    }

    .banner__left p {
        font-size: 1.64rem;
        padding: 0 2px;
    }

    .banner__left-btn button {
        font-size: 1.52rem;
        padding: 12px 25px;
    }

    .banner__right img {
        width: 180px;
    }

    .setting {
        left: 10px;
    }

    .mid__logo a {
        font-size: 2.3rem;
    }

    .content-category {
        padding-top: 50px;
    }

    .category__header-title {
        font-size: 2.42rem;
    }

    .category__header-text {
        font-size: 1.58rem;
    }
}

@media (max-width: 349.9px) {
	html {
        font-size: 58.8%;
    }

    .mid {
        height: 70px;
    }

    .banner__left {
        padding: 85px 0;
    }

    .banner__left h2 {
        font-size: 3.4rem;
    }

    .banner__left p {
        font-size: 1.62rem;
        padding: 0 2px;
    }

    .banner__left-btn button {
        font-size: 1.42rem;
        padding: 11px 22px;
    }

    .banner__right img {
        width: 180px;
    }

    .setting {
        left: 10px;
    }

    .mid__logo a {
        font-size: 2.1rem;
    }

    .mid__right-tym, .mid__right-cart, .mid__right-menu {
        width: 38px;
        height: 38px;
    }

    .content-category {
        padding-top: 50px;
    }

    .category__header-title {
        font-size: 2.42rem;
    }

    .category__header-text {
        font-size: 1.45rem;
    }
}